@page "{id}"
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    @@font-face {
        font-family: tamil; src: url('@Url.Content("~/css/font/tamil_aishwarya.ttf")'); 
    } 
</style>
<h2>Details</h2>

<div>
    <h4>Word</h4>
    <!--<p style="font-family:tamil;font-size:20px"> hovdyf</p>-->
                    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Word.English)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Word.English)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Word.Tamil)
        </dt>
        <!-- <dd style="font-family:tamil;font-size:20px"> -->
        <dd>
            @Html.DisplayFor(model => model.Word.Tamil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Word.Meaning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Word.Meaning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Word.Toda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Word.Toda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Word.Categories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Word.Categories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Word.PartOfSpeech)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Word.PartOfSpeech)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Home">Back to List</a>
</div>