@page
@model HomeModel
@{
    ViewData["Title"] = "Dictionary";
}
    <!-- <h3 class="text-center">Dictionary</h3> -->
    <!-- <div class="container"> -->
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Search Criteria</div>
                <div class="panel-body">
                    <form asp-page="./Home" method="get">
                            <div class="form-group">
                                <label for="SearchField">Search Field</label>
                                <select class="form-control" asp-for="SearchField" asp-items="Html.GetEnumSelectList<NewDictionary.Models.KnownValues.SearchField>()">
                                </select>
                            </div> 
                            <div class="form-group">
                                <label for="SearchType">Search Type</label>
                                <select class="form-control"  asp-for="SearchType" asp-items="Html.GetEnumSelectList<NewDictionary.Models.KnownValues.SearchType>()">
                                </select>
                            </div>
                            <div class="form-group">   
                                <label>Display Fields</label>                            
                            
                                @foreach (var field in Model.DisplayFields){
                                    <div class="form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox" value="@field.FieldValue" name="Fields" asp-for="@field.Selected">
                                        @field.FieldName</label>
                                    </div>
                                }
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn search-panel">
                                    <select asp-for="Category" asp-items="Model.Categories" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>    
                                </div>
                                <input type="text" class="form-control" name="SearchText" id="SearchText" placeholder="Search text...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>

                       
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-info">
            <div class="panel-heading">Search Results</div>
            <div class="panel-body">
                    @if (Model.Words.Count() > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Search Results
                                    </th>                                           
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Words) {
                                        <tr>                        
                                            <td>
                                                <a asp-page="./Details" asp-route-id="@item.Id">@item.English</a>
                                            </td>
                                            <td>
                                                <a asp-page="./Details" asp-route-id="@item.Id">@item.Tamil</a>
                                            </td>
                                        </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else{
                        <div>No results found!</div>
                    }
                </div>
            </div>
        </div>
    <!-- </div> -->


@section Scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    // Load the Google Transliterate API
      google.load("elements", "1", {
            packages: "transliteration"
          });

      var transliterationControl;
      function onLoad() {
        var options = {
            sourceLanguage: 'en',
            destinationLanguage: ['ta'],
            transliterationEnabled: true,
            shortcutKey: 'ctrl+g'
        };
        // Create an instance on TransliterationControl with the required
        // options.
        transliterationControl =
          new google.elements.transliteration.TransliterationControl(options);

        // Enable transliteration in the textfields with the given ids.
        var ids = [ "SearchText" ];
        transliterationControl.makeTransliteratable(ids);
        changeFont();
      }
      google.setOnLoadCallback(onLoad);
    

    $('#SearchField').change(function(){
        changeFont();
    })
    function changeFont(){    
       if($('#SearchField').val() == 1) {
           if(!transliterationControl.isTransliterationEnabled()){
               transliterationControl.enableTransliteration();
           }
       }
       else{
           if(transliterationControl.isTransliterationEnabled()){
               transliterationControl.disableTransliteration();
           }
       }
       //transliterationControl.toggleTransliteration();
    }
    </script>
}